@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Unbounded:wght@200;400&display=swap');

/* 
font-family: 'Shadows Into Light', cursive;
font-family: 'Unbounded', cursive;
*/

:root{
    --page-padding: 20px;
    --grid-gap: 50px;
    --box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    --box-shadow-footer: rgba(50, 50, 93, 0.25) 0px -13px 27px -5px, rgba(0, 0, 0, 0.3) 0px -8px 16px -8px;
    --box-shadow-main : rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --tab-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    --border-radius: .8rem;

    --grid-rows-height: 400px;

    --color-light-white: 245, 239, 229;
    --color-dark-white: 232, 223, 202;
    --color-light-blue: 174, 189, 202;
    --color-dark-blue: 120, 149, 178;
}

/* COMMON */

*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3, h4, h5, h6, .motto{
    font-family: 'Shadows Into Light', cursive;
    line-height: 100%;
    margin: 0;
}
h1 {font-size: 3.5rem;}
h2 {font-size: 2.5rem;}
h3 {font-size: 2rem;}
.motto {font-size: 1.5rem;}

body{
    background-image: url(./img/background-wallpaper.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

/* HEADER */

header{
    height: clamp(150px, 20vh, 150px);
    width: 100%;
    background-color: rgba(var(--color-light-white), .3);
    backdrop-filter: blur(3px);
    box-shadow: var(--box-shadow);
    
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
}

/* MAIN */

#main{
    width: 100vw;
    max-width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

#main > nav{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: flex-end;
}

#main > nav > div{
    height: 70%;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(var(--color-dark-white), .8);
    box-shadow: var(--tab-shadow);
    border-radius: var(--border-radius) var(--border-radius) 0 0;

    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    letter-spacing: .15rem;
    font-size: 1.5rem;

    user-select: none;
}

    /* effects */

#main > nav > div:hover{
    height: 200%;
}

/* MAIN > CONTAINER */

#container{
    background-image: url(./img/seamless-paper.jpg);
    box-shadow: var(--box-shadow-main);
    width: 80vw;
    padding: var(--grid-gap);
    display: grid;
    gap: var(--grid-gap);
    align-items: center;
    grid-template-rows: auto repeat(3, var(--grid-rows-height));
}
/*
#container > *{
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}
*/

#container > .content{
    background-color: rgba(var(--color-dark-blue), .2);
    display: grid;
    grid-template-columns: auto minmax(400px, 1fr);
    padding: 25px;
    gap: 25px;
}

.content-text{
    display: grid;
    gap: 25px;
    align-content: start;
}

/* FOOTER */

footer{
    height: 40px;
    background-color: rgba(var(--color-light-white), .3);
    backdrop-filter: blur(3px);
    box-shadow: var(--box-shadow-footer);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 1000;
}

footer a{
    color: black;
}